.td-table-servidor-conexao{
    display: grid;
}
.td-table-servidor-conexao img{
    width: 60px;
    margin: 0px auto;
}
.td-table-servidor-conectando img{
    width: 30px;
    margin: 0px auto;
    display: block;
}
.table-gerenciar-servidores{
    text-align: center;
}
.botao-tabela-servidor:hover{
    background-color: var(--primary);
    color: var(--white);
}
.botao-tabela-servidor:hover .iconeDeOrigemTabelaServidor i{
    color: var(--white);
}
.table-gerenciar-servidores .card-options-collapse {
    color: var(--primary);
}
.table-gerenciar-servidores .card-options-collapse{
    color: #9aa0ac;
}
.table-gerenciar-servidores .card-options-collapse:hover{
    color: #fff;
}
.table-gerenciar-servidores .card-body-informations{
    margin: 0px auto;
}
.table-gerenciar-servidores .selectgroup-pills{
    margin: 5px auto 0px;
}
/*
.celula-servidor-desconectado{
    background-color: #ffebee;
}
.celula-servidor-conectado{
    background-color: #e8f5e9;
}
*/