.gridDesconectado {
  max-width: 175px;
  height: 220px;
  background: #222;
  margin: 0 auto;
  padding: 1em 0;
  border-radius: 3px;
}

.gridDesconectado .serverDesconectado {
  display: block;
  max-width: 68%;
  height: 20px;
  background: rgba(255,255,255,.15);
  box-shadow: 0 0 0 1px black inset;
  margin: 10px 0 20px 30px;
}

.gridDesconectado .serverDesconectado:before {
  content: "";
  position: relative;
  top: 7px;
  left: -18px;
  display: block;
  width: 6px;
  height: 6px;
  background: red;
  border: 1px solid black;
  border-radius: 6px;
  margin-top: 7px;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {font-size: 12px;}
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {font-size: 14px;}
}


.informacoesServidor{
    margin: 20px auto 20px;
}