.btn-disable{
    cursor: no-drop !important;
    opacity: 0.6;
}
.text-align-justify{
    text-align: justify;
}
.text-align-right{
    text-align: right;
}
.color-blue{
    color: var(--blue);
}
.background-blue{
    background-color: var(--blue);
}
.feedback-simple{
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 87.5%;
    color: var(--primary);
}
.feedback-simple span{
    color: var(--dark);
}

.buttonInside{
    position:relative;
    margin-bottom:10px;
  }
.botaoDentroDoInput{
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: none;
    height: 20px;
    width: 130px;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 0px;
}
.botaoDentroDoInput:hover{
cursor:pointer;
}
.height23{
    height: 23px;
}
/* BOTÃO FILTRO DA TABELA */
.ag-theme-balham .ag-ltr .ag-floating-filter-button {
    display: none;
}
.btn-disable{
    position: no-drop !important;
}
/* BOTÃO ALTERNAR VISUALIZAÇAO */
.btn-alternar-visualizacao{
    margin-left: 10px;
    width: 40px;
    border: 1px solid var(--primary);
}
.btn-alternar-visualizacao span{
    font-size: 12pt;
    color: var(--primary);
}
.btn-alternar-visualizacao-active{
    margin-left: 10px;
    width: 40px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
}
.btn-alternar-visualizacao-active span{
    font-size: 12pt;
    color: var(--white);
}
.elementoDesaparece{
    display: none;
}
.elementoAparece{
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

/* APARECE */
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}