.btn-disable{
    cursor: no-drop !important;
    opacity: 0.6;
}
.text-align-justify{
    text-align: justify;
}
.text-align-right{
    text-align: right;
}
.color-blue{
    color: var(--blue);
}
.background-blue{
    background-color: var(--blue);
}


.buttonInside{
    position:relative;
    margin-bottom:10px;
  }
.botaoDentroDoInput{
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: none;
    height: 20px;
    width: 130px;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 0px;
}
.botaoDentroDoInput:hover{
cursor:pointer;
}
.height23{
    height: 23px;
}
/* BOTÃO FILTRO DA TABELA */
.ag-theme-balham .ag-ltr .ag-floating-filter-button {
    display: none;
}
/* BOTÃO ALTERNAR VISUALIZAÇAO */
.btn-alternar-visualizacao{
    margin-left: 10px;
    width: 40px;
    border: 1px solid var(--primary);
}
.btn-alternar-visualizacao span{
    font-size: 12pt;
    color: var(--primary);
}
.btn-alternar-visualizacao-active{
    margin-left: 10px;
    width: 40px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
}
.btn-alternar-visualizacao-active span{
    font-size: 12pt;
    color: var(--white);
}
/* ANIMAÇÃO DOS ELEMENTOS */
.elementoDesaparece{
    display: none;
}
.elementoAparece{
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* input Warning */
.feedback-simple{
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 87.5%;
    color: var(--primary);
}
.feedback-simple span{
    color: var(--dark);
}
.is-valid-warning{
    border-color: var(--warning) !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(241, 196, 15)' viewBox='0 0 8 8'><path fill='60eba00' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !important;
}
.warning-feedback{
    color: var(--warning) !important;
}